<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="FormHandler" verb="*" path="*" type="FormHandler"/>
      <add name="MyHandler" verb="*" path="*" type="MyHandler"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>